@import "tailwindcss";

/* === Custom Variants === */
@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);
@custom-variant dark (&:where(.dark, .dark *));


/* === Theme (جایگزین tailwind.config.js) === */
@theme {
  /* رنگ‌ها */
  --color-brown-100: #ECE0D1;
  --color-brown-300: #DBC1AC;
  --color-brown-600: #967259;
  --color-brown-900: #634832;
  --color-light-mode: #F3F4F6;
  --color-dark-mode: #27272A;

  --color-servise-svg-dark: #3F3F46;
  --color-servise-svg-light: #EAEAEA;

  /* سایه */
  --shadow-custom: 0 1px 10px rgba(0, 0, 0, 0.05);

  /* گردی گوشه */
  --radius-4xl: 2rem;

  /* فونت‌ها */
  --font-Dana: "Dana";
  --font-DanaBold: "DanaBold";
  --font-Lalezar: "Lalezar";
  --font-IRANSans: "IRANSans";

  /* فاصله حروف */
  --tracking-tightest: -0.065em;

  /* فاصله‌ها */
  --spacing-25: 6.25rem;
  --spacing-30: 7.5rem;
  --spacing-50: 12.5rem;

  /* container */
  --container-padding: 1rem;
  --container-padding-lg: 0.625rem;

  /* سایز نمایشگرها */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* تصاویر پس‌زمینه */
  --background-image-home-mobile: url(/images/headerBgMobile.webp);
  --background-image-home-desktop: url(/images/headerBgDesktop.webp);
  --background-image-blog-one: url(/images/blogs/blog-1.png);
  --background-image-blog-two: url(/images/blogs/blog-2.png);
  --background-image-blog-thre: url(/images/blogs/blog-3.png);
}




/* === Base Layer === */
@layer base {
  @font-face {
    font-family: 'Dana';
    src: url(/fonts/Dana-Regular.woff2) format('woff2');
    font-display: swap;
    font-weight: 100;
  }

  @font-face {
    font-family: 'DanaBold';
    src: url(/fonts/Dana-Bold.woff2) format('woff2');
    font-display: swap;
    font-weight: bolder;
  }

  @font-face {
    font-family: "Lalezar";
    src: url(/fonts/Lalezar-Regular.ttf) format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "IRANSans";
    src: url(/fonts/IRANSans.ttf) format("ttf");
    font-display: swap;
  }
  html {
  transition: color 3s ease, background-color 3s ease;
}

  
body {
    font-family: var(--font-Dana), var(--font-IRANSans), sans-serif;
    background-color: var(--color-light-mode);
  }
  html.dark body {
    font-family: var(--font-Dana), var(--font-IRANSans), sans-serif;
    background-color: var(--color-dark-mode);
  }
}

/* === Components Layer === */
@layer components {
  .overlay {
    @apply bg-blend-overlay invisible opacity-0 fixed md:hidden inset-0 bg-black/40 z-10 transition-all duration-300;
  }
  .overlay--active {
    @apply visible opacity-100;
  }

  .submenu {
    @apply hidden flex-col pr-7 list-disc text-sm gap-y-3 my-2 text-zinc-600 dark:text-white;
  }

  .submenu--open {
    @apply flex;
  }

  .submenu__item--active {
    @apply relative pr-2.5 text-orange-300;
  }

  .submenu__item--active::after {
    content: '';
    width: 4px;
    height: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fdba74;
    border-radius: 100%;
    margin: auto;
    position: absolute;
  }

  .circle--main {
    @apply absolute bottom-0 left-0 right-0 mx-auto translate-y-2/4;
  }

  .circle{
    @apply flex items-center justify-center border rounded-full;
  }
  .circle--lg{
    @apply w-[203px] h-[203px] border-white/25;
  }

  .circle--md{
    @apply w-[145px] h-[145px] border-white/50;
  }

  .circle--sm{
    @apply w-[95px] h-[95px] border-white/80;
  }

  .section-title {
    @apply font-DanaBold text-zinc-700 dark:text-white text-base sm:text-2xl md:text-4xl/[54px];
  }

  .section-subtitle {
    @apply text-zinc-500 dark:text-white/80 text-xs sm:text-base md:text-xl;
  }

  .category-right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/images/categories/category-right.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .category-left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/images/categories/category-left.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    @apply flex items-center justify-center w-9 h-9 md:w-10 md:h-10 text-zinc-700 dark:text-white bg-white dark:bg-zinc-700 shadow-custom hover:bg-gray-300 dark:hover:text-zinc-700 dark:hover:bg-white transition-all rounded-full;
  }

  .footer-circle {
    @apply flex items-center justify-center border border-gray-600 rounded-full;
  }

  @media (max-width: 750px) {
    .services-Wrapper::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #d1d5db;
      top: 50%;
      left: 0;
      position: absolute;
    }

    .services-Wrapper::before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #d1d5db;
      top: 0;
      left: 50%;
      position: absolute;
    }
  }

  @media (min-width: 1280px) {
  .products {
    background-image: linear-gradient(
        rgba(243, 244, 246, 0.65),
        rgba(243, 244, 246, 0.65)
      ),
      url("/images/products-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* html.dark .products {
    background-image: url("/images/products-bg.png");
  } */
}

}

/* === Utilities Layer === */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 16px;
    background: #d1d5db;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #10b981;
    border-radius: 16px;
    border: none;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
  }
}
